@page "/addphotos"

@*https://docs.microsoft.com/en-us/aspnet/core/blazor/security/?view=aspnetcore-5.0#authorize-attribute*@
@attribute [Authorize]


@using UsingHangfireInASPNETCore_Demo.Services

@inject ImageService imageService

<h3>Add Photos</h3>




<div class="drag-drop-zone">
    @*  since this is .NET 3.1, the InputFile component doesn't exist and needs to be imported
        Install-Package BlazorInputFile
    *@
    <InputFile OnChange="@OnInputFileChange" />
</div>


<p>@status</p>

@code {

    private string status;


    private async Task OnInputFileChange(IFileListEntry[] files)
    {
        var format = "image/png";

        foreach (var file in files)
        {
            // Just load into .NET memory to show it can be done
            // Alternatively it could be saved to disk, or parsed in memory, or similar
            var ms = new MemoryStream();

            await file.Data.CopyToAsync(ms);

            status = $"Finished loading {file.Size} bytes from {file.Name}";

            await imageService.UploadAndProcessImageAsync(file.Name, ms);
        }
    }
}
