<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Photo App Demo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            @* https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-5.0#route-parameters *@
            <NavLink class="nav-link" href="myphotos">
                <span class="oi oi-home" aria-hidden="true"></span>My Photos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addphotos">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Photos
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
