<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Daily Todos</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            @* https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-5.0#route-parameters *@
            <NavLink class="nav-link" href="@TodayRouteLink">
                <span class="oi oi-home" aria-hidden="true"></span>Today
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Todo
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // TIP: the datetime format here is important
    // https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-3.1#route-constraints
    private string TodayRouteLink => "DayViewTodoList/" + DateTime.Now.ToString("yyyy-MM-dd");

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
